ClienteJurosSimples/src/META-INF/wsdl/localhost_8080/WSJurosSimples/servicoJurosSimples.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsjuros/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsjuros/" name="servicoJurosSimples">
<types>
<xsd:schema>
<xsd:import namespace="http://wsjuros/" schemaLocation="http://localhost:8080/WSJurosSimples/servicoJurosSimples?xsd=1"/>
</xsd:schema>
</types>
<message name="montante">
<part name="parameters" element="tns:montante"/>
</message>
<message name="montanteResponse">
<part name="parameters" element="tns:montanteResponse"/>
</message>
<message name="taxa">
<part name="parameters" element="tns:taxa"/>
</message>
<message name="taxaResponse">
<part name="parameters" element="tns:taxaResponse"/>
</message>
<message name="jurosSimples">
<part name="parameters" element="tns:jurosSimples"/>
</message>
<message name="jurosSimplesResponse">
<part name="parameters" element="tns:jurosSimplesResponse"/>
</message>
<portType name="servicoJurosSimples">
<operation name="montante">
<input wsam:Action="http://wsjuros/servicoJurosSimples/montanteRequest" message="tns:montante"/>
<output wsam:Action="http://wsjuros/servicoJurosSimples/montanteResponse" message="tns:montanteResponse"/>
</operation>
<operation name="taxa">
<input wsam:Action="http://wsjuros/servicoJurosSimples/taxaRequest" message="tns:taxa"/>
<output wsam:Action="http://wsjuros/servicoJurosSimples/taxaResponse" message="tns:taxaResponse"/>
</operation>
<operation name="jurosSimples">
<input wsam:Action="http://wsjuros/servicoJurosSimples/jurosSimplesRequest" message="tns:jurosSimples"/>
<output wsam:Action="http://wsjuros/servicoJurosSimples/jurosSimplesResponse" message="tns:jurosSimplesResponse"/>
</operation>
</portType>
<binding name="servicoJurosSimplesPortBinding" type="tns:servicoJurosSimples">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="montante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="taxa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jurosSimples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicoJurosSimples">
<port name="servicoJurosSimplesPort" binding="tns:servicoJurosSimplesPortBinding">
<soap:address location="http://localhost:8080/WSJurosSimples/servicoJurosSimples"/>
</port>
</service>
</definitions>