ClienteServicoJuros/xml-resources/web-service-references/ServicoJuroSimplesComposto/wsdl/localhost_8080/ProjetoWSJuros/ServicoJuroSimplesComposto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servico/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servico/" name="ServicoJuroSimplesComposto">
<types>
<xsd:schema>
<xsd:import namespace="http://servico/" schemaLocation="http://localhost:8080/ProjetoWSJuros/ServicoJuroSimplesComposto?xsd=1"/>
</xsd:schema>
</types>
<message name="taxa">
<part name="parameters" element="tns:taxa"/>
</message>
<message name="taxaResponse">
<part name="parameters" element="tns:taxaResponse"/>
</message>
<message name="jurosSimples">
<part name="parameters" element="tns:jurosSimples"/>
</message>
<message name="jurosSimplesResponse">
<part name="parameters" element="tns:jurosSimplesResponse"/>
</message>
<message name="jurosSimplesMontante">
<part name="parameters" element="tns:jurosSimplesMontante"/>
</message>
<message name="jurosSimplesMontanteResponse">
<part name="parameters" element="tns:jurosSimplesMontanteResponse"/>
</message>
<message name="montanteComposto">
<part name="parameters" element="tns:montanteComposto"/>
</message>
<message name="montanteCompostoResponse">
<part name="parameters" element="tns:montanteCompostoResponse"/>
</message>
<message name="jurosComposto">
<part name="parameters" element="tns:jurosComposto"/>
</message>
<message name="jurosCompostoResponse">
<part name="parameters" element="tns:jurosCompostoResponse"/>
</message>
<portType name="ServicoJuros">
<operation name="taxa">
<input wsam:Action="http://servico/ServicoJuros/taxaRequest" message="tns:taxa"/>
<output wsam:Action="http://servico/ServicoJuros/taxaResponse" message="tns:taxaResponse"/>
</operation>
<operation name="jurosSimples">
<input wsam:Action="http://servico/ServicoJuros/jurosSimplesRequest" message="tns:jurosSimples"/>
<output wsam:Action="http://servico/ServicoJuros/jurosSimplesResponse" message="tns:jurosSimplesResponse"/>
</operation>
<operation name="jurosSimplesMontante">
<input wsam:Action="http://servico/ServicoJuros/jurosSimplesMontanteRequest" message="tns:jurosSimplesMontante"/>
<output wsam:Action="http://servico/ServicoJuros/jurosSimplesMontanteResponse" message="tns:jurosSimplesMontanteResponse"/>
</operation>
<operation name="montanteComposto">
<input wsam:Action="http://servico/ServicoJuros/montanteCompostoRequest" message="tns:montanteComposto"/>
<output wsam:Action="http://servico/ServicoJuros/montanteCompostoResponse" message="tns:montanteCompostoResponse"/>
</operation>
<operation name="jurosComposto">
<input wsam:Action="http://servico/ServicoJuros/jurosCompostoRequest" message="tns:jurosComposto"/>
<output wsam:Action="http://servico/ServicoJuros/jurosCompostoResponse" message="tns:jurosCompostoResponse"/>
</operation>
</portType>
<binding name="ServicoJurosPortBinding" type="tns:ServicoJuros">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="taxa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jurosSimples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jurosSimplesMontante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="montanteComposto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jurosComposto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicoJuroSimplesComposto">
<port name="ServicoJurosPort" binding="tns:ServicoJurosPortBinding">
<soap:address location="http://localhost:8080/ProjetoWSJuros/ServicoJuroSimplesComposto"/>
</port>
</service>
</definitions>